/**** reset ****/
*{padding:0;margin:0;}
*,*:after,*:before{box-sizing:border-box;}
li,dl,dd{list-style:none;}
img{max-width:100%;}
img,fieldset,iframe,input[type=submit]/* input */{border:0 none;}
img,input,button,select{vertical-align:middle;}
button, input[type=button], input[type=submit]{cursor:pointer;}
hr{display:none;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
caption{text-indent:-9999px; width:0; overflow:hidden; visibility:hidden;}
legend{position:absolute;left:-9999px; height:0; overflow:hidden; visibility:hidden; font-size:0;}
hr, .blind{position:absolute;left:-9999px;}
a{text-decoration:none; color:#525252;}
body{height: 100%; font:12px/1.3 'Nanum Gothic','나눔고딕', Gothic, '고딕', Dotum ,'돋움', sans-serif; color:#525252; }
button{color: #525252;}
address,em,th{font-style:normal;}
h1,h2,h3,h4,h5,h6,strong{font-size:100%;font-weight:normal;}
.clearFix:after{content:"";display:block;clear:both;}
.clearFix{*zoom:1;}
*[class*=" "]:after,*[class*="ico_font_"]:before{font-family:'fontello';}

/**** 슬라이드컨트롤러 ****/
.pagecontrol{position: absolute; bottom: 5px; left: 50%; margin-left: -23px; text-indent: -9999px;}
.pgc_pageList ul {overflow: hidden;}
.pgc_pageList li{width: 14px; height: 14px; margin-right: 3px; background: url(../images/common/slidecontrol.png) -1px -2px no-repeat; float:left;}
.pgc_pageList li.on{width: 14px; height: 14px; background: url(../images/common/slidecontrol.png) -18px -2px no-repeat;}
.pgc_pageList li a{display: block; width: 10px; height: 10px; }
.pagecontrol a{display: none;}
.pagecontrol a.on{display: inline-block;}
.pagecontrol_play{width: 14px; height: 14px; background: url(../images/common/slidecontrol.png) -51px -2px no-repeat;}
.pagecontrol_pause{width: 14px; height: 14px; background: url(../images/common/slidecontrol.png) -35px -2px no-repeat;}


/**** 헤더영역 ****/
.wrap{font-size:1em;max-width:1600px; min-width: 320px; margin:0 auto;position:relative;}
#header{width:213px;border:1px solid #ddd;position:absolute;top:0;left:0;}

h1{height:207px;padding:10px 0 0 8px;}
.langAndLog{position:relative;margin-top:-40px;margin-left:34px;}
.language{position:absolute;top:0;left:0;}
.language ul{ padding:30px 10px;margin-left:-34px; }
.language li{display:none;float:left;overflow:hidden;width:25%; padding:10px 5px;}
.language h2:hover+ul>li,.language ul:hover li{display:block;background-color:#fff;}
.login{position:absolute;top:0;left:80px;padding-left:20px;background:url(../images/common/sprite.png) -1px 2px no-repeat; background-size:500px 500px;}
#gnb{padding-top:40px;font-size:2em;}
#gnb li a{padding:11px 34px;display:block;border-top:1px solid #d0cecd; }
#gnb a.on, #gnb a:hover, #gnb a:focus{background-color:#004884;color:#fff;}
.quickLink li{float:left;width:50%;border-top:1px solid #d0cecd;}
.bd_l{border-left:1px solid #d0cecd;}
.quickLink li a{font-size:1em;height:90px;display:block;text-align:center;padding:7px 20px 5px;}

.lnb {display:none;}
#gnb li:hover .lnb{display:block;}
.quickLink .search{background:url(../images/common/search_gnb.png) 10px 6px   no-repeat;width:100%;height:53px;padding:20px 18px;text-align:center;}
.quickLink .search label{width:2px; height:0;font-size:0;border:none;}
.quickLink .search input[type=text]{width:125px;height:30px;border:0 none;background:none;}
.quickLink .search input[type=submit]{width:30px;height:30px;background:none;text-indent:-9999px;}
.quickLink li.movie{width:100%;}
/* .quickLink li a{display:block;padding-bottom:20px;} */
.quickLink .movie iframe{width:100%;margin:0;padding:0;}
.sns ul{width:100%;}
.sns li{float:left;padding:0px 10px;width:25%;text-align:center;}

/**** 컨테이너영역 ****/
#container{margin-left:213px;}


#footer{ border-top:2px solid #ddd; width: 580px ;margin: 25px auto 0px;padding-top:10px;
	/* position: absolute;bottom: 2px;left: 0; */ font-size: 1.05em; /* width: 757px; */}
#footer .footer_ul{padding-bottom:5px;}
#footer .footer_ul li{float: left;padding: 0 8px;border-left: 1px solid #aaa;/* margin-bottom: 10px; */}
#footer .footer_ul li:first-child{border: none; padding-left: 0;}
.footer_ul li a{font-size: 1em;}



/*** 미디어쿼리 ***/
@media (max-width:1025px){
#header{height:100%;}

		.col-pc-1{width:8.333%;}
		.col-pc-2{width:16.666%;}
		.col-pc-3{width:25%;}
		.col-pc-4{width:33.332%;}
		.col-pc-5{width:41.666%;}
		.col-pc-6{width:50%;}
		.col-pc-7{width:58.333%;}
		.col-pc-8{width:66.666%;}
		.col-pc-9{width:75%;}
		.col-pc-10{width:83.333%;}
		.col-pc-11{width:91.666%;}
		.col-pc-12{width:100%;}

}
@media (max-width:800px){
#header{position:static;width:100%;height:121px;overflow:hidden;}/* 임시로 오버플로 히든 줌 */
#container{margin-left:0;}
.visual{height:300px;}


.col-tablet-1{width:8.333%#footer;}
.col-tablet-2{width:16.666%;}
.col-tablet-3{width:25%;}
.col-tablet-4{width:33.333%;}
.col-tablet-5{width:41.666%;}
.col-tablet-6{width:50%;}
.col-tablet-7{width:58.333%;}
.col-tablet-8{width:66.666%;}
.col-tablet-9{width:75%;}
.col-tablet-10{width:83.333%;}
.col-tablet-11{width:91.666%;}
.col-tablet-12{width:100%;}
}
@media (max-width:568px){
#contents{width:100%}
.detail{width: 90%;}
#footer{width: 90%; font-size: 1em;}



.col-mobile-1{width:8.333%;}
.col-mobile-2{width:16.666%;}
.col-mobile-3{width:25%;}
.col-mobile-4{width:33.333%;}
.col-mobile-5{width:41.666%;}
.col-mobile-6{width:50%;}
.col-mobile-7{width:58.333%;}
.col-mobile-8{width:66.666%;}
.col-mobile-9{width:75%;}
.col-mobile-10{width:83.333%;}
.col-mobile-11{width:91.666%;}
.col-mobile-12{width:100%;}

}
