@charset "utf-8";
.tourInfoWrap{}
.tourInfo{height:30%;;padding:1% 0;width:50%;float:left;}

.img{/* border:1px solid black; */width:45%;padding:3% 3% 3%;float:left;display:block;}

.imgInfo{width:55%;float:left;display:block;font-size:0.9em;padding-top:6%;line-height:160%;}
.paging{margin-top:30px;}


@media (max-width:1025px){
.imgInfo{font-size:0.8em;}

}
@media (max-width:800px){
.col-tablet-12{width:100%;}
section{margin:0 auto;width:90%;}
.imgInfo {font-size:1.3em;}


}
@media (max-width:568px){
.imgInfo {font-size:1em;padding-top:5%;word-spacing:-4px;line-height:130%;}

}
@media (max-width:370px){
.tourInfo{margin-top:10px;}
.img{width:100%;}
.imgInfo {font-size:0.9em;padding-top:3%;width:100%;line-height:170%;}
.imgInfo p{width:60%;margin:0 auto;}
}
