@charset "utf-8";
#sub_container > p{line-height:160%; padding-left: 6px;}
#sub_container > p:first-child{border-left: 3px solid #e8177a;margin-left: -4px;}
tr > td:first-child+td{text-align:center;}
tr > td:first-child+td+td+td, tr > td:first-child+td+td+td+td+td, tr > th:first-child+th+th+th, tr > th:first-child+th+th+th+th+th{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
tr>td:first-child+td{text-align:center;}


.sub_search{position:relative;padding:100px 10% 0;}
h5 input[type=button]{position:absolute; top:30px; left:13%; width:22%; padding:8px 2%; border: 1px solid #d0cede; border-radius:3px; font-size:1.2em; background-color:#fff;}
.btn_departure input[type=button]{left:36%;}
.btn_destination input[type=button]{left:59%;}
.btn_search{position:absolute;top:36px; left:82%}

h5 input[type=button]:hover, h5 input[type=button]:focus, h5 input[type=button],{border-color:#525252;}
h5 input[type=button]:active, h5 input[type=button].on{background-color:#333 !important; color:#fff !important; }

h5 + div{display:none; width:100%; border-top:1px solid #fff;padding: 20px 0 30px;}
/* .btn_trans + div {display:block;} */
/* .btn_departure + div{display:block;} */
.sub_search h5 + div > p {text-align:left;margin-bottom:10px; border-left:3px solid #e8177a;padding-left:5px;}

h5 + div > ul > li{float:left;width:16.4%;padding:5px; }
h5 + div input[type=button]{width:100%; padding: 8px; border: 1px solid #d0cede; border-radius:3px;font-size:1em; background-color:#fffafa;}
h5 + div input[type=button]:hover. h5 + div input[type=button]:focus{color:#fffafa; background-color:#d0cecd;border-color:#fffafa;}
input[type=button]:active{background-color:#ffeeee;}

@media (max-width:1025px){

}
@media (max-width:800px){
h5 input[type=button]{/* width:21%; */}
tr>th:first-child+th+th, tr>th:first-child+th+th+th+th, tr>td:first-child+td+td, tr>td:first-child+td+td+td+td{display:none;}
h5 input[type=button]{left:5%;} 
.btn_departure input[type=button]{left:30%;}
.btn_destination input[type=button]{left:55%;}
}
@media (max-width:568px){
.sub_search{padding-left:5%;padding-right:5%;}
h5 + div input[type=button]{font-size:0.95em;}
tr>th:first-child+th+th+th+th+th+th, tr>th:first-child+th+th+th+th+th+th, tr>td:first-child+td+td+td+td+td+td, tr>td:first-child+td+td+td+td+td+td{display:none;}
h5 input[type=button]{left:5%;} 
.btn_departure input[type=button]{left:30%;}
.btn_destination input[type=button]{left:55%;}
h5 + div > ul > li{padding:5px 0;}
h5 + div input[type=button]{font-size:0.89em;}
}
@media (max-width:375px){
.sub_search{padding-left:3%;padding-right:3%;}
.btn_search{position:absolute;top:36px; left:80%; top:32px;} 
h5 input[type=button]{font-size:0.9em;}
h5 + div > ul > li{padding:3px;min-width:19.9%;}
h5 + div input[type=button]{font-size:0.8em;padding:8px 6px}
tr>th:first-child, tr>td:first-child{display:none;}
}