@charset "euc-kr";
/* Main_Container 
-----------------------------------------------------*/
div.main_container{overflow:hidden;width:100%;min-width:1000px;margin:0 auto}

/* :: mc_slide */
div.mc_slide{overflow:hidden;position:relative;width:1000px !important;margin:1px auto 0}
.mc_slide .vew_area img{width:100% !important}
.mc_slide .view_wrapper{overflow:hidden;position:relative;width:100%;height:364px}
.mc_slide .view_area{width:100%}
.mc_slide .view_area a{display:block;width:1000px}
.mc_slide .btn_area{position:relative;left:0px;top:10px;z-index:40;width:100%;height:0}
.mc_slide .btn_area a{display:block;position:absolute} 
.mc_slide .btn_area a.btn_left{left:18px;top:150px}
.mc_slide .btn_area a.btn_right{right:18px;top:150px}
.mc_slide .pager_container{position:absolute;left:0;bottom:20px;z-index:30;width:100%;text-align:center}
.mc_slide .pager_container a.btn_play,.mc_slide .pager_container a.btn_pause{display:inline-block}
.mc_slide .pager_wrapper{display:inline-block;overflow:hidden;min-width:200px;height:33px;margin:0;padding:0;text-align:center}
.mc_slide .pager_wrapper .deco_left{float:left;width:14px;height:33px;background:url(../images/mcslide_pagerwrapper_decoleft.png) no-repeat center top}
.mc_slide .pager_wrapper .deco_right{float:left;width:14px;height:33px;background:url(../images/mcslide_pagerwrapper_decoright.png) no-repeat center top}
.mc_slide .pager_wrapper .pager{float:left;height:22px;padding:10px 10px 0;background:url(../images/mcslide_pager_bg.png) repeat-x center top}
.mc_slide .pager_wrapper .pager a{display:inline-block;width:11px;height:11px;margin:0 5px;background:url(../images/mcslide_pager_off.png) no-repeat center center;font-size:0}
.mc_slide .pager_wrapper .pager a.activeSlide{background:url(../images/mcslide_pager_on.png) no-repeat center center}

/* :: mc_rsch */
div.mc_srch{width:1000px;height:71px;margin:0 auto;background:#091d58}
.mc_srch form{width:1000px;height:71px;margin:0 auto}
.mc_srch form fieldset{overflow:hidden;width:100%}

/* mc_srch - opt */
.mc_srch .opt{float:left;width:360px;margin:14px 0 0 110px}
.mc_srch .opt label{box-sizing:border-box;float:left;width:43px;height:44px;margin:0 0 0 9px;font-size:0;cursor:pointer}
.mc_srch .opt .combine{margin:0;background:url(../images/mcsrch_opt_combine.gif) no-repeat center}
.mc_srch .opt .house{background:url(../images/mcsrch_opt_house.gif) no-repeat center}
.mc_srch .opt .food{background:url(../images/mcsrch_opt_food.gif) no-repeat center}
.mc_srch .opt .tour{background:url(../images/mcsrch_opt_tour.gif) no-repeat center}
.mc_srch .opt .img{background:url(../images/mcsrch_opt_img.gif) no-repeat center}
.mc_srch .opt .movie{background:url(../images/mcsrch_opt_movie.gif) no-repeat center}
.mc_srch .opt .cmmnty{background:url(../images/mcsrch_opt_community.gif) no-repeat center}

/* mc_srch - opt - label_on */
.mc_srch .opt .combine.on{background:url(../images/mcsrch_opt_combine_on.gif) no-repeat center}
.mc_srch .opt .house.on{background:url(../images/mcsrch_opt_house_on.gif) no-repeat center}
.mc_srch .opt .food.on{background:url(../images/mcsrch_opt_food_on.gif) no-repeat center}
.mc_srch .opt .tour.on{background:url(../images/mcsrch_opt_tour_on.gif) no-repeat center}
.mc_srch .opt .img.on{background:url(../images/mcsrch_opt_img_on.gif) no-repeat center}
.mc_srch .opt .movie.on{background:url(../images/mcsrch_opt_movie_on.gif) no-repeat center}
.mc_srch .opt .cmmnty.on{background:url(../images/mcsrch_opt_community_on.gif) no-repeat center}
.mc_srch .opt label input{position:absolute;z-index:-10}
.mc_srch .opt label.key_up{outline:1px solid #368ee9}

/* mc_srch - srch */
.mc_srch .srch{float:left;width:400px;height:34px;margin:13px 0 0 30px;padding:6px 14px;background:url(../images/mcsrch_srch_bg.gif) no-repeat center;font-family:'나눔고딕',NanumGothic,nanum}
.mc_srch .srch label,.mc_srch .srch input{float:left;height:33px;font-size:17px;line-height:33px;}
.mc_srch .srch input{margin:0 0 0 13px}
.mc_srch .srch input[type=text]{width:300px;padding:0 10px}
.mc_srch .srch input[type=submit]{width:58px;background:transparent;color:#fff;cursor:pointer}

/* :: mc_latest */
div.mc_latest{position:relative;width:1000px;height:69px;margin:0 auto;font-family:NanumGothic,'나눔고딕',nanum,sans-serif}
.mc_latest .btn_more{display:block;position:absolute;right:0px;top:26px}
.mc_latest .btn_area{position:absolute;overflow:hidden;right:84px;top:17px;z-index:10}
.mc_latest .btn_area >a{display:block;float:left;z-index:1;margin:1px;border:1px solid #dedede}
.mc_latest .btn_area >a:hover{border-color:#000}
.mc_latest .tit{float:left;height:69px;padding:0 0 0 52px;background:url(../images/mclatest_notice.gif) left center no-repeat;font-family:NanumGothicBold,'나눔고딕 Bold',nanumB,sans-serif;line-height:69px}
.mc_latest .btn_more{width:64px;font-size:17px}

/* mc_latest - view_area */
.mc_latest .view_area{float:left;margin:0 0 0 40px}
.mc_latest .view_area >div{overflow:hidden;height:69px}
.mc_latest .view_area >div a,.mc_latest .view_area >div span{display:block;float:left;height:69px;font-size:17px;line-height:69px}
.mc_latest .view_area >div a.conts{width:425px;margin:0 20px 0 0;}
.mc_latest .view_area >div a:hover{text-decoration:underline}
.mc_latest .view_area >div span.date{width:100px}

/* :: mc_theme */
div.mc_theme{width:100%;margin:0 0 25px;padding:28px 0;border-top:1px solid #dadada;border-bottom:1px solid #dadada;background:url(../images/mctheme_bg.gif) repeat-x center}
.mc_theme .theme_area{overflow:hidden;width:1000px;margin:0 auto}
.mc_theme .theme_area >li{float:left;width:250px;text-align:center}
.mc_theme .theme_area >li a{display:inline-block}
.mc_theme .theme_area >li >dl{margin:12px 0 0}
.mc_theme .theme_area >li >dl >dt a{font-size:20px;font-family:'나눔고딕 Bold',NanumGothicBold,nanumB,sans-serif}
.mc_theme .theme_area >li >dl >dd{font-size:16px;font-family:'나눔고딕',NanumGothic,nanum,sans-serif}

/* :: mc_banner */
.mc_banner{width:100%}
.mc_banner .banner_area{overflow:hidden;width:1000px;margin:0 auto}

/* mc_banner - newsletter */
.mc_banner .banner_area .newsletter{float:left;font-family:NanumGothic,'나눔고딕',nanum,sans-serif}
.mc_banner .banner_area .newsletter >h3{margin:0 0 19px}
.mc_banner .banner_area .newsletter .view{position:relative;width:217px;height:226px;padding:13px 11px 0;background:url(../images/mcbanner_newsletter_bg.png) no-repeat center}
.mc_banner .banner_area .newsletter .title_area{margin:0 0 17px;color:#fff;letter-spacing:-1px}
.mc_banner .banner_area .newsletter .title_area dt.tit{width:100%;font-size:20px;font-family:'나눔고딕 Bold',NanumGothicBold,nanumB,sans-serif}
.mc_banner .banner_area .newsletter .title_area dd{margin:13px 0 0;font-size:14px}
.mc_banner .banner_area .newsletter .btn_area{overflow:hidden}
.mc_banner .banner_area .newsletter .btn_area >div{float:left;width:104px;height:29px;margin:0 0 0 6px;font-size:15px;color:#fff;line-height:29px;text-align:center}
.mc_banner .banner_area .newsletter .btn_area >div:first-child{margin:0}
.mc_banner .banner_area .newsletter .btn_area .btn_read{background:url(../images/mcbanner_newsletter_btnread_bg.png) no-repeat center}
.mc_banner .banner_area .newsletter .btn_area .btn_move{background:url(../images/mcbanner_newsletter_btnmove_bg.png) no-repeat center}
.mc_banner .banner_area .newsletter .btn_area a{display:inline-block;padding:0 16px 0 0}
.mc_banner .banner_area .newsletter .btn_area .btn_read a{background:url(../images/mcbanner_newsletter_btnread_arrow.png) no-repeat center right}
.mc_banner .banner_area .newsletter .btn_area .btn_move a{background:url(../images/mcbanner_newsletter_btnread_arrow.png) no-repeat center right}

/* mc_banner - festival */
.mc_banner .banner_area .festival{float:left;position:relative;width:492px;margin:0 15px}
.mc_banner .banner_area .festival >h3{margin:0 0 19px}
.mc_banner .banner_area .festival .view_area{height:239px;background:url(../images/mcbanner_festival_viewarea_bg.gif) no-repeat center left;font-family:NanumGothic,'나눔고딕',nanum,sans-serif}
.mc_banner .banner_area .festival .view_area .view{height:239px}
.mc_banner .banner_area .festival .view_area .view .inner_view{overflow:hidden}
.mc_banner .banner_area .festival .view_area .view .inner_view >div{float:left}
.mc_banner .banner_area .festival .view_area .view .inner_view >div.conts{width:204px;padding:16px 0 0 11px;color:#fff}
.mc_banner .banner_area .festival .view_area .view .inner_view >div.conts dl{letter-spacing:-0.5px}
.mc_banner .banner_area .festival .view_area .view .inner_view >div.conts dl dt{margin:0 0 13px;font-size:20px;font-family:'나눔고딕 Bold',NanumGothicBold,nanumB,sans-serif}
.mc_banner .banner_area .festival .view_area .view .inner_view >div.conts dl dt a{color:#fff}
.mc_banner .banner_area .festival .view_area .view .inner_view >div.conts dl dd{margin:0 0 9px;font-size:14px}
.mc_banner .banner_area .festival .view_area .view .inner_view >div.img{overflow:hidden;position:relative;width:277px;height:239px} 
.mc_banner .banner_area .festival .view_area .view .inner_view >div.img .cover{display:block;position:absolute;left:0;top:0;z-index:10;width:277px;height:239px;background:url(../images/mcbanner_festival_view_innerview_img_cover.png) no-repeat 0 center;font-size:0}
.mc_banner .banner_area .festival .btn_area{position:absolute;bottom:11px;left:11px;z-index:100;overflow:hidden;width:90px;height:28px}
.mc_banner .banner_area .festival .btn_area a{float:left;display:block;margin:0 0 0 3px}
.mc_banner .banner_area .festival .btn_area a:first-child{margin:0}

/* mc_banner - inform */
.mc_banner .banner_area .inform{float:right;position:relative;width:239px;height:239px;font-family:NanumGothic,'나눔고딕',nanum,sans-serif}
.mc_banner .banner_area .inform >h3{margin:0 0 19px}
.mc_banner .banner_area .inform .view_area{position:relative;width:239px;height:239px}
.mc_banner .banner_area .inform .view_area .view .inner_view >div{position:relative;width:239px;height:239px}
.mc_banner .banner_area .inform .view_area .view .inner_view >div a{display:block;position:absolute;top:0;left:0;width:239px;height:239px;background:url(../images/mcbanner_inform_view_innerview_cover_bg.png) no-repeat center center;font-size:0}
.mc_banner .banner_area .inform .view_area .btn_area{position:absolute;bottom:11px;left:11px;z-index:30;overflow:hidden;width:90px;height:28px}
.mc_banner .banner_area .inform .view_area .btn_area a{float:left;display:block;margin:0 0 0 3px}
.mc_banner .banner_area .inform .view_area .btn_area a:first-child{margin:0}

/* :: mc_travelinfo */
div.mc_travelinfo{width:1000px;margin:28px auto 0}
.mc_travelinfo >h3{margin:0 0 19px}
.mc_travelinfo .info_area{position:relative;width:100%;height:506px;margin:33px 0 0}
.mc_travelinfo .info_area .fl_info{position:absolute;left:0;top:0;width:745px}
.mc_travelinfo .info_area .fl_info >.link_wrapper{overflow:hidden;margin:20px 0 0;}
.mc_travelinfo .info_area .fl_info >div.link_wrapper:first-child{margin:0}
.mc_travelinfo .info_area .fl_info >div.link_wrapper >div{float:left;position:relative;width:242px;height:243px;margin:0 0 0 9px}
.mc_travelinfo .info_area .fl_info >div.link_wrapper >div:first-child{margin:0}
.mc_travelinfo .info_area .fl_info >div.link_wrapper >div >a{display:block;position:absolute;top:0;left:0;width:242px;height:243px;background:url(../images/mctravelinfo_travel_frame.png) no-repeat center center;font-size:0}
.mc_travelinfo .info_area .fl_info >div.link_wrapper >div dl{position:absolute;left:0;bottom:0;width:100%;height:57px;padding:8px 0 0;border-top:1px solid #d7d7d7;background:#fff}
.mc_travelinfo .info_area .fl_info >div.link_wrapper >div dl dt{padding:0 13px;background:url(../images/mctravelinfo_travel_more.png) no-repeat 215px center;font-family:'나눔고딕 Bold',NanumGothicBold,nanumB,sans-serif;font-size:18px}
.mc_travelinfo .info_area .fl_info >div.link_wrapper >div dl dd{padding:7px 13px 0;font-size:14px;font-family:'나눔고딕',NanumGothic,nanum,sans-serif;color:#666666}
.mc_travelinfo .info_area .fr_info{position:absolute;right:-1px;top:0;width:198px;height:506px;padding:0 22px;background:url(../images/mctravelinfo_frinfo_bg.gif) no-repeat center center}
.mc_travelinfo .info_area .fr_info >.quick_link >li{overflow:hidden;margin:11px 0 0;vertical-align:top}
.mc_travelinfo .info_area .fr_info >.quick_link >li:first-child{margin:16px 0 0}
.mc_travelinfo .info_area .fr_info >.quick_link >li a,.mc_travelinfo .info_area .fr_info >ul >li span{display:block}
.mc_travelinfo .info_area .fr_info >.quick_link >li ul> li{float:left;margin:0 0 0 26px;text-align:center}
.mc_travelinfo .info_area .fr_info >.quick_link >li ul> li:first-child{margin:0}
.mc_travelinfo .info_area .fr_info >.quick_link >li ul> li span.tit{margin:5px 0 0;font-size:14px;font-family:'나눔고딕 Bold',NanumGothicBold,nanumB,sans-serif}







