
.icon-picture:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-align-justify:before { content: '\e803'; } /* '' */
.icon-picture-1:before { content: '\e804'; } /* '' */
.icon-chat:before { content: '\e805'; } /* '' */
.icon-tags-1:before { content: '\e806'; } /* '' */
.icon-download-outline:before { content: '\e807'; } /* '' */
.icon-code-outline:before { content: '\e808'; } /* '' */
.icon-menu-outline:before { content: '\e809'; } /* '' */
.icon-globe-alt-outline:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-statusnet:before { content: '\e80d'; } /* '' */
.icon-video:before { content: '\e80e'; } /* '' */
.icon-picture-2:before { content: '\e80f'; } /* '' */
.icon-info-circled-1:before { content: '\e810'; } /* '' */
.icon-aboveground-rail:before { content: '\e811'; } /* '' */
.icon-airport:before { content: '\e812'; } /* '' */
.icon-bicycle:before { content: '\e813'; } /* '' */
.icon-bus:before { content: '\e814'; } /* '' */
.icon-cafe:before { content: '\e815'; } /* '' */
.icon-ferry:before { content: '\e816'; } /* '' */
.icon-call:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
.icon-th-list:before { content: '\e819'; } /* '' */
.icon-mail-1:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-lock-open:before { content: '\e81c'; } /* '' */
.icon-language:before { content: '\e81d'; } /* '' */
.icon-music:before { content: '\e81e'; } /* '' */
.icon-eye:before { content: '\e81f'; } /* '' */
.icon-eye-off:before { content: '\e820'; } /* '' */
.icon-th-list-1:before { content: '\e821'; } /* '' */
.icon-info-outline:before { content: '\e822'; } /* '' */
.icon-info-1:before { content: '\e823'; } /* '' */
.icon-th-large:before { content: '\e824'; } /* '' */
.icon-home:before { content: '\e825'; } /* '' */
.icon-home-1:before { content: '\e826'; } /* '' */
.icon-left-open:before { content: '\e827'; } /* '' */
.icon-right-open:before { content: '\e828'; } /* '' */
.icon-videocam:before { content: '\f03a'; } /* '' */
.icon-movie:before { content: '\f040'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */